<a href="https://colab.research.google.com/github/Nishthavan/Cognizant_Internship/blob/main/Assessment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSESSMENT- Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [93]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [94]:
data_url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user"

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [95]:
# usign the sepeartor as "|" because data is seprated by that. 
users = pd.read_csv(data_url, sep="|")
users.head() # Checking if imported correctly...

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

In [96]:
# using "user_id" as index 
users = users.set_index("user_id")

### Step 4. See the first 25 entries

In [97]:
users.head(25)

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### Step 5. See the last 10 entries

In [98]:
users.tail(10)

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### Step 6. What is the number of observations in the dataset?

In [99]:
# Basically number of rows
users.shape[0]

943

### Step 7. What is the number of columns in the dataset?

In [100]:
users.shape[1]

4

### Step 8. Print the name of all the columns.

In [101]:
users.columns

Index(['age', 'gender', 'occupation', 'zip_code'], dtype='object')

### Step 9. How is the dataset indexed?

In [102]:
users.index

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            934, 935, 936, 937, 938, 939, 940, 941, 942, 943],
           dtype='int64', name='user_id', length=943)

### Step 10. What is the data type of each column?

In [103]:
# we can use .dtypes for it or .info() too (.info() is more like a summary of columns)
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### Step 11. Print only the occupation column

In [104]:
print(users["occupation"])
# We can only just print Occupation column as well, without the index user_id as well by using to_string(index = false)

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### Step 12. How many different occupations are in this dataset?

In [105]:
users["occupation"].value_counts().count()

21

### Step 13. What is the most frequent occupation?

In [106]:
users["occupation"].value_counts().nlargest(1)
# The most frequent occupation is of student with 196 entries.

student    196
Name: occupation, dtype: int64

### Step 14. Summarize the DataFrame.

In [107]:
# Gives a summary of the columns
users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 943 entries, 1 to 943
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         943 non-null    int64
 1   gender      943 non-null    object
 2   occupation  943 non-null    object
 3   zip_code    943 non-null    object
dtypes: int64(1), object(3)
memory usage: 36.8+ KB

In [108]:
users.describe()

              age
count  943.000000
mean    34.051962
std     12.192740
min      7.000000
25%     25.000000
50%     31.000000
75%     43.000000
max     73.000000

### Step 15. Summarize all the columns

In [109]:
users.describe(include="all")

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### Step 16. Summarize only the occupation column

In [121]:
users["occupation"].describe()

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### Step 17. What is the mean age of users?

In [122]:
users["age"].mean()

34.05196182396607

### Step 18. What is the age with least occurrence?

In [123]:
users["age"].value_counts().tail(5)
# there are 5 ages with the least occurence which are (7, 66, 11, 10, 73)

7     1
66    1
11    1
10    1
73    1
Name: age, dtype: int64

In [124]:
# As there are multiple with least occurence but if we want only one answer we can get by: 
users["age"].value_counts().index[-1]

73

Step 19. Write a lambda function to convert a string column to a numerical column

In [125]:
str_to_int = lambda x: int(x) if str(x).isnumeric() else x
users["zip_code"] = users["zip_code"].apply(str_to_int)
# We have to check if the x is numeric before converting it to int, otherwise it will throw an error 
# because there are alphabetic characters in string columns and what we can do to overcome that is create a dict
# mapping each alphabet to number like {a:1, b:2, c:3 ....} so on.. and do some preprocessing of data and convert into numeric before passing to the lambda func.

In [128]:
print(users)
type(users.zip_code[1])

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
...      ...    ...            ...      ...
939       26      F        student    33319
940       32      M  administrator     2215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

[943 rows x 4 columns]

int