# **Accepting a file name from command line & storing the data**

In [19]:
File = input("Enter File Name: ")

Enter File Name: testFile2.txt

In [20]:
F = open(File, "r")
data = F.read()
print(data)

﻿¥900 $100 ₹800 £900.2


01/19/2012  20/02/19  11/19/19


¥100.0 ₹9210 $99.99


My name is aeio and uiea is my brother, ears, indy,
oracle


12/01/2018  03/15/1971


401st, fourhundredfirst,
101st, onehundredfirst,
910th, ninehundredtenth,
12th, twelfth

# **CLEANING THE DATA**

In [21]:
# Remove Commas and New lines, so as to clean the data.... More things can also be added in this cleaning part too. 
def rem_newline_comma(data):
  data = data.replace(","," ") # replacing the commas with a space
  data = data.replace("\n"," ") # replace new lines with a space
  return data

data = rem_newline_comma(data)
print(data)

﻿¥900 $100 ₹800 £900.2   01/19/2012  20/02/19  11/19/19    ¥100.0 ₹9210 $99.99   My name is aeio and uiea is my brother  ears  indy   oracle   12/01/2018  03/15/1971   401st  fourhundredfirst   101st  onehundredfirst  910th  ninehundredtenth  12th  twelfth

# **Importing Libraries for the excercise**

In [22]:
import re

# **QUESTION - Print all currencies in text, Accepted- $, ₹, £**

In [23]:
# We need to find currencies in text and only the ones with $, ₹, £ as there start nothing else... 
# Now some of them may have decimal and digit after decimal as well hence following must take care of it. 
Accepted_Currency = re.findall(r'[\$₹£]\d+\.?\d*', data)
print(Accepted_Currency)

['$100', '₹800', '£900.2', '₹9210', '$99.99']

# **QUESTION - Print all date times in the text- dd/mm/yyyy, dd/mm/yy, mm/dd/yyyy, mm/dd/yy**

In [24]:
# Some very basic conditions for day, month are different like it cant be 0, days cant be beyond 31, month cant be beyond 12
# And for 4 digit year also taking a condition that first digit has to be either 1 or 2.

# DD/MM/YYYY 
ddmmyyyy = re.findall(r'\b((0[1-9]|[12][0-9]|3[01])(/)(0[1-9]|1[012])(/)([1-2][0-9]{3}))\b', data)
for date in ddmmyyyy:
  print(date[0])
print("------------------------")
# DD/MM/YY 
ddmmyy = re.findall(r'\b((0[1-9]|[12][0-9]|3[01])(/)(0[1-9]|1[012])(/)([0-9]{2}))\b', data)
for date in ddmmyy:
  print(date[0])
print("------------------------")
# MM/DD/YYYY 
mmddyyyy = re.findall(r'\b((0[1-9]|1[012])(/)(0[1-9]|[12][0-9]|3[01])(/)([1-2][0-9]{3}))\b', data)
for date in mmddyyyy:
  print(date[0])
print("------------------------")
# MM/DD/YY 
mmddyy = re.findall(r'\b((0[1-9]|1[012])(/)(0[1-9]|[12][0-9]|3[01])(/)([0-9]{2}))\b', data)
for date in mmddyy:
  print(date[0])

12/01/2018
------------------------
20/02/19
------------------------
01/19/2012
12/01/2018
03/15/1971
------------------------
11/19/19

# **QUESTION - Print all cardinilities and orders- 4th, fifth, sixth, 1st, 2nd, nineteenth, fifth**

In [30]:
# There are two seprate things 
# 1. with numbers at start we can just check with the start as number also take care that in between we allow 0-9 and end as "st", "nd", "rd", "th" and we are good to go.
# For eg. 1st, 4th
# Also keeping in mind that we are not searching for substring of the word but the whole. 
# 2. with words we have to check for first, second, third, four, fif, .... in start and end with "st", "nd", "rd", "th" and its all good. 
# And there is one more case we have to one, two, three at start too because in case of 101 -> onehundredfirst and 401 is taken care of as -> fourhundredfirst
# for eg. fourtyfifth has four at start and th at end

# First we take numbers: 
nums = re.findall(r'\b(([1-9][0-9]*)(st|nd|rd|th))\b',data)
for x in nums:
  print(x[0], end=" ")

print()
print()

print("------------TEXT---------------")

print()

text = re.findall(r'\b((first|second|third)|(four[a-z]*|fif[a-z]*|six[a-z]*|seven[a-z]*|eight[a-z]*|nin[a-z]*|ten[a-z]*|eleven[a-z]*|twel[a-z]*|thirteen[a-z]*|twenty[a-z]*|thirty[a-z]*|one[a-z]*|two[a-z]*|three[a-z]*)(st|nd|rd|th))\b', data, re.IGNORECASE)
for x in text:
  print(x[0], end=" ")

# The full that we are checking for.. 
# \b((first|second|third)|(four[a-z]*|fif[a-z]*|six[a-z]*|seven[a-z]*|eight[a-z]*
# |nin[a-z]*|ten[a-z]*|eleven[a-z]*|twel[a-z]*|thirteen[a-z]*|twenty[a-z]*|thirty[a-z]*
# |one[a-z]*|two[a-z]*|three[a-z]*)(st|nd|rd|th))\b

401st 101st 910th 12th

------------TEXT---------------

fourhundredfirst onehundredfirst ninehundredtenth twelfth

# **QUESTION - Print all 4 letter words that begin with vowels**

In [26]:
fourletter_vowelword = re.findall(r'\b[aeiouAEIOU][a-zA-Z]{3}\b', data)
print(fourletter_vowelword)

['aeio', 'uiea', 'ears', 'indy']